#gallery-header {

}

.project-tile {
	height: 250px;
	padding: 0;
}

.project-tile-featured {

}

.screen {
	background-color: rgba(255,255,255,0.7);
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	visibility: hidden;
}

.screen a {
	display: block;
	width: 100%;
	height: 100%;
}

#sourcerer {
	background-image: url('/files/sourcerer-wand.gif');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: right bottom;
}

#agnes {
	background-image: url('/files/agnes-demo.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 -80px;
}

#tallervolador {
	background-image: url('/files/playtesting-demo.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 -40px;	
}

#afewgoodterrans {
	background-image: url('/files/afgt-marines.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: -200px 0;		
}

#cipl {
	background-image: url('/files/cipl.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 -50px;
}

#developinggameworlds {
	background-image: url('/files/start.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 -50px;
}

#apocriphos {
	background-image: url('/files/ebooks.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
}

#columnista {
	background-image: url('/files/prensa.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
}

#mem0r1a {
	background-image: url('/files/mem0r1a.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
}

#sourcerer {
	background-image: url('/files/pharma.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
}

#lvl {
	background-image: url('/files/videojuegos-peru.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
}

#radix {
	background-image: url('/files/radix.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.project-header {
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	margin-top: -20px;
	padding: 20%;
}

.project-header-screen {
	background-color: rgba(255,255,255,0.7);
}

.project-content {
	margin-top: 50px;
	font-family: 'Lora', serif;	
	font-size: 135%;
	line-height: 2.0em;
}

.back-link {
	border-style: solid;
	border-width: 2px;
	height: 35px;
}

.back-link a {
	color: black;
	text-decoration: none;
}

.back-link:hover {
	background-color: rgb(180,180,180);
	color: #FFFFFF;
}

.back-link:hover a {
	color: white;
	text-decoration: underline;
}

.blog-post {
	font-family: 'Lora', serif;	
	font-size: 135%;
	line-height: 2.0em;
}

.blog-post img,
.project-content img {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	display: block;
	width: 75%;
}

.back-button {
	position: absolute;
	top: 100px;
	left: 100px;
}

.blog-back-button {
	font-size: 200%;
}

.blog-post-header {
	background-color: black;
	color: white;
}

.main-nav {
	color: white;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 50px;
	font-size: 60%;
	font-family: 'Ubuntu', sans-serif;	
	font-weight: bold;
}

.main-nav a {
	color: white;
}

.main-nav-button {
	display: inline-block;
	height:30px;
	width:100px;
	text-align: center;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px none #000000;
}

.main-nav-button:hover {
	background-color: rgba(150,150,150,0.6);
	text-decoration: none;
}

.project-back-button {
	text-align: center;
	font-size: 400%;
	margin-top: 50px;
	margin-bottom: 100px;
}

.project-back-button a:hover {
	text-decoration: none;
}