/* marisca.pe custom styles */
/* v2 -- January 2016 */


/* headline block contains main page title and subtitle, including possible translations. uses custom style for h1/h2 for titles. */

#home-main {
	position: relative;
}

.headline {
	margin-top: 15vh;
	word-wrap: break-word;
}

.headline h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 60px;
	color: #000000;
	line-height: 72px;
	display: inline;
}

.headline h2 {
	font-family: 'Libre Baskerville', serif;
	font-size: 36px;
	color: #000000;
	line-height: 45px;
}

.headline h1.title_translation {
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
	font-weight: 400;
	color: #9B9B9B;
	line-height: 57px;
}

.headline h2.subtitle_translation {
	font-family: 'Libre Baskerville', serif;
	font-size: 28px;
	color: #9B9B9B;
	line-height: 35px;
}

.headline h1,h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}


/* home-nav block includes the main navigation links for the homepage only */

.home-nav {
	margin-top: 15vh;
}

.home-nav a {
	color: #000000;
}

.home-nav .home-nav_link {
	font-family: 'Montserrat', sans-serif;
	font-size: 28px;
	color: #000000;
	line-height: 48px;
}

.home-nav .home-nav_link_translation{
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	color: #9B9B9B;
	line-height: 32px;
}


/* header block contains the top nav as header-nav */

.header {
	color: white;
	background-color: #264653;
	height: 45px;
	padding: 10px;
}

.header-nav a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	margin-right: 20px;
}

.header-nav a:hover {
	color: #9B9B9B;
}

/* footer block contains footer content, duh. at the bottom of the page, white background on home, coloured background elsewhere. */

.footer {
	width: 100%;
	height: 45px;
	padding: 10px;
	margin-top: 15vh;
}
.footer .footer-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #000000;
	line-height: 20px;
}

.footer .footer-text_translation {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #9B9B9B;
	line-height: 20px;
}

/* Specific footer styles to control the background color */

.page-footer {
	background-color: #2A928F;
}

.project-footer {
	background-color: #F4A261;
}

/* page-content block... you know where this is going... */

.page-content {
	margin-top: 10vh;
}

.page-content h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: #000000;
	line-height: 38px;
}

.page-content p {
	font-family: 'Libre Baskerville', serif;
	font-size: 20px;
	color: #000000;
	line-height: 32px;
}

.page-content p.paragraph-translation {
	font-size: 16px;
	color: #9B9B9B;
	line-height: 28px;
}

.page-content a {
	color: #2A928F;
	text-decoration: underline;
}

.page-content a:hover {
	color: #F4A261;
}

.page-blocks {
	margin-top: 50px;
}

.page-blocks p {
	font-size: 14px;
	color: #000000;
	line-height: 20px;
}

.page-blocks_socialmedia {
	height: 40px;
	width: auto;
	margin-right: 20px;
}


/* project resources elements sit at the bottom of every project page */

.project-resources {
	padding: 20px;
	text-align: center;
}

.project-resources p.project-resources_icon {
	font-size: 80px;
	margin-bottom: 20px;
}

.project-photos_block {
	padding: 20px;
}

.project-photos_picture {
	width: 100%;
	height:auto;
	object-fit: cover;
}

/* Media queries */

/* Hide footer div on small screens (it renders poorly + it's unnecessary) */

@media screen and (min-width: 0px) and (max-width: 640px) {
	.footer { 
		display: none; 
	}
}
