---
layout: gallery
title: Projects
flag: scroll
---
<div class="main">
	<section>
		<div id="gallery-header">
			{% include main-nav.html %}
			<div class="container">
				<h1>Projects</h1>
				<p class="lead">Stuff I've been working on over the last few months/years, plus projects I've been a part of. Things that worked, and things that didn't.</p>
			</div>
		</div>
	</section>

{% for page in site.pages reversed %}
	{% if page.flag == 'projects' %}
		{% if page.featured == 'true' %}
		<section>
			<div class="project-slide">
				<div class="project-slide-text">
					<h1>{{ page.title }}</h1>
					<p class="lead">{{ page.blurb }}</p>
					<a href="{{ page.url }}">Read More</a>
				</div>
			</div>
		</section>
		{% endif %}
	{% endif %}
{% endfor %}

</div>