---
layout: portfolio-v2
title: Things I Do
title_translation: Cosas que hago
type: portfolio
---
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div id="english">
			<p>These are some design and research projects and experiments I’ve been a part of in recent years, both large and small.</p>
		</div>
		<div id="spanish">
			<p class="paragraph-translation">// Estos son algunos de los proyectos y experimentos de investigación y diseño, grandes y chicos, de los que he sido parte en los últimos años.</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-xs-12">
	{% for page in site.pages reversed %}
		{% if page.type == 'project' %}
		<div class="{% if page.featured %}col-md-8 col-sm-8 col-xs-12{% else %}col-md-4 col-sm-4 col-xs-12{% endif %} portfolio-card_frame">
			<a href="{{ page.url }}">
				<div class="portfolio-card_content">
					<h1>{{ page.title }}</h1>
					<h2>{{ page.subtitle }}</h2>
				</div>
			</a>
		</div>
		{% endif %}
	{% endfor %}
	</div>
</div>