<div class="container">
	<div class="card" id="bio-card">
	  <div class="card-content">
	    <div class="media">
	      <div class="media-left">
	        <figure class="image is-128x128">
	          <img src="/files/img/eduardo-cartoon-sm.png" alt="Placeholder image">
	        </figure>
	      </div>
	      <div class="media-content">
	        <p class="title is-4">{% if page.lang == "es" %}Hola, soy Eduardo Marisca{% elsif page.lang == "en" %}Hi, my name is Eduardo Marisca{% endif %}</p>
	        <p class="is-size-6">{% if page.lang == "es" %}Soy investigador y diseñador de medios digitales basado en Lima, Perú. Puedes <a hred="/about">conocer más sobre mí</a>, o seguirme en <a href="https://twitter.com/piscosour">Twitter</a> o <a href="https://instagram.com/piscosourgram">Instagram</a>.{% elsif page.lang == "en" %}I’m a digital media researcher and designer based in Lima, Peru. You can <a hred="/about">learn more about me</a>, or follow me on <a href="https://twitter.com/piscosour">Twitter</a> or <a href="https://instagram.com/piscosourgram">Instagram</a>.{% endif %}</p>
	      </div>
	    </div>
	  </div>
	</div>
</div>
