<html>
<head>
	<meta charset="UTF-8">
	<title>&#60;piscosour{% if page.title %} | {{ page.title }}{% endif %}&#62;</title>
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/marisca.css" rel="stylesheet">

	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,900' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,400italic,300italic,300,500,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700' rel='stylesheet' type='text/css'>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-1948247-10']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script type="text/javascript" src="/js/marisca.js"></script>

</head>
<body{% if page.background %} style="background-image: url('{{ page.background }}'); background-size: 100%; background-attachment: fixed; background-repeat: no-repeat; background-color: #000000"{% endif %}>

