<html>
<head>
	<meta charset="UTF-8">
	<title>&#60;piscosour{% if page.title %} | {{ page.title }}{% endif %}&#62;</title>
	
	<!-- Get Bootstrap from CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	

	<!-- New v2 stylesheet -->
	<link href="/css/marisca-v2.css" rel="stylesheet">

	<!-- Fonts for v2: Montserrat + Libre Baskerville-->
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>

	<!-- GAnalytics code same as v1 -->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-1948247-10']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.js"></script>
</head>

<body>