<a href="/en"><h1>&#60;{{ page.sidebar-header }}&#62;</h1></a>
<p>My name's Eduardo and I'm a digital media researcher and designer. I'm currently working on digital innovation for La Victoria Lab, a human-centered design lab part of the Intercorp Group in Lima, Peru.</p>
<p>In 2014, I graduated from the Comparative Media Studies master's program at MIT, where I did research on the rise of indie video game development in Peru and its potential as creative industry. I was also research assistant at The Education Arcade, an MIT lab doing research and development of educational games.</p>
<h4>&#60;about&#62;</h4>
<ul class="list-unstyled">
	<li><a href="mailto:eduardo@marisca.pe">E-Mail</a>
	<li><a href="http://twitter.com/piscosour">Twitter</a></li>
	<li><a href="http://www.linkedin.com/pub/eduardo-marisca/4/203/b21">LinkedIn</a></li>
	<li><a href="http://www.mutaciones.pe">Mutaciones, my Spanish blog</a></li>
	<li><a href="http://github.com/piscosour">GitHub</a></li>
</ul>
<h4>&#60;groups+affiliations&#62;</h4>
<ul class="list-unstyled">
	<li>La Victoria Lab</li>
	<li><a href="http://cmsw.mit.edu">Comparative Media Studies @ MIT</a></li>
	<li><a href="http://www.lvl.pe">Lima Videogame Laboratory</a></li>
</ul>
<!--
<h1>&#60;/{{ page.sidebar-header }}&#62;</h1>
-->