<a href="/en"><h1>&#60;{{ page.sidebar-header }}&#62;</h1></a>
<p>My name's Eduardo Marisca and this is one of my many homes on the web. I'm a graduate student at the Comparative Media Studies program at MIT, and a research assistant at The Education Arcade, an MIT lab doing research and development on educational games. My current research is on digital creative industries in developing economies, looking at a case study with the video game industry in Peru.</p>
<p>You'll find information on some of my current projects and latest writing on the right, plus some personal and contact info on the links below. Have fun!</p>
<h4>&#60;about&#62;</h4>
<ul class="list-unstyled">
	<li><a href="mailto:eduardo@marisca.pe">E-Mail</a>
	<li><a href="http://twitter.com/piscosour">Twitter</a></li>
	<li><a href="http://www.linkedin.com/pub/eduardo-marisca/4/203/b21">LinkedIn</a></li>
	<li><a href="http://www.mutaciones.pe">Mutaciones, my Spanish blog</a></li>
	<li><a href="http://web.mit.edu/emarisca/www/">MIT profile page</a></li>
	<li><a href="http://github.com/piscosour">GitHub</a></li>
</ul>
<h4>&#60;groups+affiliations&#62;</h4>
<ul class="list-unstyled">
	<li><a href="http://cmsw.mit.edu">Comparative Media Studies @ MIT</a></li>
	<li><a href="http://education.mit.edu">The Education Arcade @ MIT</a></li>
	<li><a href="http://www.lvl.pe">Lima Videogame Laboratory</a></li>
</ul>
<!--
<h1>&#60;/{{ page.sidebar-header }}&#62;</h1>
-->