---
layout: blog-v3
title: Things I Write
title_translation: Cosas que escribo
type: blog
---
<!--<div class="row">
	<div class="col-md-12 col-xs-12">
		{% for post in site.posts %}
		<div class="col-xs-12 blog-card_container">
			<a class="blog-card_link" href="{% if post.external_url %}{{ post.external_url }}{% else %}{{ post.url }}{% endif %}">
				<div class="blog-card">
					<h1>{{ post.title }}</h1>
					<h2>{{ post.excerpt }}</h2>
					<p class="blog-card_footer">{{ post.date | date_to_string }}</p>
				</div>
			</a>
		</div>
		{% endfor %}
	</div>
</div>-->

<div class="container">
	<div class="columns">
		<div class="column">
			{% for post in site.posts %}
				{% if post.lang == 'en' %}
					<article class="media">
						<a class="blog-card_link" href="{% if post.external_url %}{{ post.external_url }}{% else %}{{ post.url }}{% endif %}">
							<div class="media-content">
								<p class="is-size-6"><strong>{{ post.title }}</strong> | <small>{{ post.date | date_to_string }}</small><br />
									{{ post.excerpt }}
								</p>
							</div>
						</a>
					</article>
				{% endif %}
			{% endfor %}
		</div>
		<div class="column">
			{% for post in site.posts %}
				{% if post.lang == 'es' %}
					<article class="media">
						<a class="blog-card_link" href="{% if post.external_url %}{{ post.external_url }}{% else %}{{ post.url }}{% endif %}">
							<div class="media-content">
								<p class="is-size-6"><strong>{{ post.title }}</strong> | <small>{{ post.date | date_to_string }}</small><br />
									{{ post.excerpt }}
								</p>
							</div>
						</a>
					</article>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>