{% include header.html %}
<div class="project-header" style="background-image: url('{{ page.featured-image }}')">
	<div class="container project-header-screen">
		<h1>{{ page.title }}</h1>
		{% if page.date %}
		<h3>{{ page.date }}{%if page.location %} | {{ page.location }}{% endif %}</h3>{% endif %}
		<p class="lead">{{ page.blurb }}</p>
	</div>
</div>
<div id="#project-content">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="project-content">
					{{ content }}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="project-back-button">
	<a href="/projects"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
</div>
{% include footer.html %}
