{% include header.html %}
<div class="row">
	<div class="col-md-3" name="sidebar">
		<a href="/en"><h1>&#60;{{ page.sidebar-header }}&#62;</h1></a>
		<p>My name's Eduardo Marisca and this is one of my many homes on the web. I'm a graduate student at the Comparative Media Studies program at MIT, and a research assistant at The Education Arcade, an MIT lab doing research and development on educational games. My current research is on digital creative industries in developing economies, looking at a case study with the video game industry in Peru.</p>
		<h4>&#60;projects&#62;</h4>
		<ul class="list-unstyled">
			<li><a href="/projects/mem0r1a">mem0r1a</a></li>
			<li><a href="/projects/agnes">AgNES</a></li>
		</ul>
		<h4>&#60;/projects&#62;</h4>
	</div>
{{ content }}
</div>
{% include footer.html %}
