{% include header-v3.html %}

<section class="hero is-fullheight is-dark is-bold">
	<div class="has-text-centered header-nav">
	  <a class="has-text-white" href="/">
	    <span class="icon">
	    <i class="fas fa-home"></i>
	  </span>
	  </a>
	  <a class="has-text-white" href="/about">
	    <span class="icon">
	      <i class="fas fa-id-card"></i>
	    </span>
	  </a>
	  <a class="has-text-white" href="/blog">
	    <span class="icon">
	      <i class="fas fa-pen"></i>
	    </span>
	  </a>
	</div>
	<div class="hero-body">
		<div class="container">
			<h1 class="title">{{ page.title }}</h1>
			<h2 class="subtitle">{{ page.subtitle }}</h2>
			<h2 class="writing-author has-text-white is-size-6">{{ page.author }}</h2>
			{% if page.blurb %}<p class="hero-blurb is-size-7 has-text-white has-text-centered">{{ page.blurb }}</p>{% endif %}
			{% if page.meta %}<p class="hero-blurb is-size-7 has-text-white has-text-centered">{{ page.meta }}</p>{% endif %}
		</div>
	</div>
</section>

<section>
	<div class="container">
	{{ content }}
	</div>
</section>

{% include footer-v3.html %}
